# URL NEON DATA BASE
DATABASE_URL="postgresql://user:password@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

JWT_SECRET="carthub-super-secret-key-minimo-32-caracteres-ok"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

JWT_SECRET="44f6f4bc596f5dba866c3bf654a2b16b690dd38c727cd4d9625c74316681f45f7f169db89ed3b670319699a699e3405b176e9825050a6822778d9dfa98a473fb"

# === JWT - ACCESS TOKEN ===
# Token de corta duración para autenticar requests
JWT_ACCESS_SECRET="44f6f4bc596f5dba866c3bf654a2b16b690dd38c727cd4d9625c74316681f45f7f169db89ed3b670319699a699e3405b176e9825050a6822778d9dfa98a473fb"
JWT_ACCESS_EXPIRES_IN="15m"

# === JWT - REFRESH TOKEN ===
# Token de larga duración para renovar el access token
JWT_REFRESH_SECRET="0c51acc3c7d28bd11d91bf54bccae3ee63efbffda1afd9e2ab6e4709044828c8b42f9b7e9aba5d2ee9989817ed203feb476a77b2c3c15ab3e18335df95cfe431"
JWT_REFRESH_EXPIRES_IN="7d"

NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"